.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.input{
    margin: 10px;
    margin-top: 40px;
    height: 30px;
    width: 90vw;
    border: none;
    border-bottom: 1px solid greenyellow;
    background-color: transparent;
    caret-color: red;
    /* position: relative; */
    /* text-align: center; */
}

.input:focus{
    outline: none;
}

.span{
    position: absolute;
    padding: 10px;
    right: 57px;
    top: 110px;
}

.span img{
    max-width: 30px;    
}

.loadingSpinner{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;    
    height: 90vh;
}

@media screen and (max-width: 1300px) {
    .span{
        right: 50px;
    }
}

@media screen and (max-width: 1000px) {
    .span{
        right: 38px;
    }
}


@media screen and (max-width: 900px) {
    .span{
        right: 30px;
    }
}

@media screen and (max-width: 650px) {
    .span{
        right: 20px;
    }
}

@media screen and (max-width: 450px) {
    .span{
        top: 6.75em;
        right: 10px;
    }
    
    .span img{
        max-width: 25px;
    }
}

@media screen and (max-width: 250px) {
    .span{
        right: 0px;
    }
}